body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/*header*/
header{
    display: flex;
    flex-direction: column;
}
header h1{
    font-size: 3rem;
    margin: 1rem;
    border: 2px solid black;
    padding: 5px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    font-size: 2rem;
    text-decoration: underline;
    color: black;
    margin: 4rem;
}

/* MAIN */
.main-container{
    display: flex;
    flex-direction: column;
}

/*MISSION*/
.vc-experience{
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
    display: flex;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
}
.text{
    background-color: white;
    font-size: 1.5rem;
}

/*PORTFOLIO*/
.portfolio{
    font-size: 1.5rem;
}

.port-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100rem;
    flex-wrap: wrap;
}

.port-images img{
    width: 18rem;
    height: 15rem;
    margin: 2rem 1rem 1rem 1rem;
}

/*TEAM*/
.team{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-images{
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
}
.t1, .t2, .t3{
    margin: 1rem;
    border: 1px solid black;
    padding: 20px;
    width: 12rem;
    color: antiquewhite;
}
.t1 img, .t2 img, .t3 img{
    width: 12.5rem;
    height: 19rem;
}
/*FOOTER*/
footer{
    font-size: 1.5rem;
}